.form__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__input{
    margin-bottom: 20px;

    width: 350px;
    padding: 5px;
    border-radius: 5px;
    border:1px solid #ccc;
    outline: none;
}

.form-sentence__textarea{
    min-width: 350px;
    max-width: 350px;
    min-height: 200px;
    max-height: 200px;

    padding: 5px;
    border:1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.form-submit__btn{
    width: 350px;
    margin-top: 20px;
    font-size: 12px;
    padding: 2px;
    border-radius: 5px;
    color: #fff;
    border:1px solid #ccc;
    background-color: limegreen;
    cursor: pointer;
}

.disabledBtnForm{
    color: black;
    background-color: transparent;
    cursor: not-allowed;
}

.error-msg{
    color: red;
    font-size: 12px;
}

.success-submit-msg__p{
    color: #fff;
    background-color: limegreen;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;

    margin-top: 20px;
}

.day-color-btns__wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}

.one__btn{
    background-color: #0B1F3A;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.two__btn{
    background-color: #2F4F6F;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.three__btn{
    background-color: #C2B8A3;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.four__btn{
    background-color: #E3A76F;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.five__btn{
    background-color: #FFE74B;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.chosenColor{
    border: 2px solid rgb(0, 217, 255);
}

.pick-a-color-statement__p{
    font-size: 12px;
    margin: 10px 0 10px 0;
}